/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(./css/fonts/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
    src: url(./fonts/Raleway-Italic-VariableFont_wght.otf) format('opentype');
    src: url(./css/fonts/Raleway-Italic-VariableFont_wght.woff);
    src: url(./fonts/Raleway-VariableFont_wght.ttf) format('truetype');
    src: url(./fonts/Raleway-VariableFont_wght.otf) format('opentype');
    src: url(./fonts/Raleway-VariableFont_wght.woff);
}

.body{
    width: 1160px;
    margin: auto;
}

/*header*/

.header_top{
    display: flex;
    flex-direction: column;
    align-items: center ; 
    background-color: #782221;
}
.header_top__figure{
    height: 200px;
    width: 200px;
    margin-top: 50px;
}

.header_top__figure__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0 20px black;
}

.header_top__name{
    font-family: Lato;
    color: white;
}

.header_top__job{
    font-family: Lato;
    color: white;
    margin-bottom: 50px;
}

.header_bottom{
    background-color: #2c1d27;
    height: 90px;
}

.header_bottom__adress{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.header_bottom_adress_link{
    color: white;
    text-decoration: none;
}

.header_bottom__adress__p_header{
    font-family: Raleway;
    font-weight: bold;
    font-size: 14px;
    margin-left: 40px;
    margin-right: 40px;
}

.header_bottom__adress__p_header_mail{
    font-family: Raleway;
    font-weight: bold;
    padding-right: 75px;
}

/* Main */
main{
    display: flex;
    flex-direction: row;
}

/* left_main */
.left_part{
    background-color: #782221;
    width: 27%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3{
    background-color: #dbc2a4;
    width: 240px;
    padding-left: 20px;
    padding-top: 15px;
    font-family: Lato ;
}

.left_part__about{
    width: 240px;
    padding-left: 20px;
    color: white;
    font-family: Raleway;
    font-weight: bold;
    text-indent: 30px;
    text-align: justify;
}

.left_part__list{
    color: white;
    font-family: Raleway;
    font-weight: bold;
}

/* Right_part */

#right_part{
    margin-left: 40px;
}

.professionnal_experiences__name_part{
    height: 30px;
    width: 770px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-left-width: 10px;
    border-color: #782221;
    border-left-style: inset;
}

.professionnal_experiences__name{
    font-family: Raleway;
    font-weight: 900;
    font-size: 1em;
}

.professionnal_experiences__time{
    font-family: Raleway;
    font-size: 1em;
    font-weight: bold;
}

.professionnal_experiences__list{
    font-family: Raleway;
    font-size: 1em;
    font-weight: bold;
}

.degrees__name_part{
    height: 30px;
    width: 770px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-left-width: 10px;
    border-color: #782221;
    border-left-style: inset;
}

.degrees__name{
    font-family: Raleway;
    font-weight: 900;
    font-size: 1em;
}

.degrees__time{
    font-family: Raleway;
    font-size: 1em;
    font-weight: bold;
}

.degrees__school{
    font-family: Raleway;
    font-size: 1em;
    font-weight: bold;
}

.skills__name_part{
    height: 30px;
    width: 770px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-left-width: 10px;
    border-color: #782221;
    border-left-style: inset;
}

.skills__list{
    font-family: Raleway;
    font-size: 1em;
    font-weight: bold;
}